{% extends "index.html" %}

{% block container %}
    <form action="{% url 'employee-url:edit-job' pk=obj.pk %}" method="POST">
        {% csrf_token %}
        Nama<br />
        <input class="form-control" value="{{ obj.name }}"
            type="text" name="name"><br />

        Salary<br />
        <input class="form-control" value="{{ obj.salary }}"
            type="number" name="salary"><br />

        Keterangan<br />
        <textarea class="form-control" name="detail"
            cols="30" rows="10">{{ obj.detail }}</textarea><br />

        <input class="btn btn-danger btn-block" type="submit" value="SIMPAN">
    </form>
{% endblock container %}