{% extends "index.html" %}

{% block container %}
    <a class="btn btn-primary btn-sm" href="/employee/form/">Tambah</a><br /><br />
    <h5><u>List Employee</u></h5>

    <table class="table table-striped table-hover">
        <tr>
            <th>No.</th>
            <th>NIP</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Gender</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>Proses</th>
        </tr>
        {% for obj in object_list %}          
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.nip}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.job_Position}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.date_of_birth}}</td>
                <td>{{obj.addres}}</td>
                <td>
                    Edit | Hapus
                </td>
            </tr>
        {% endfor %}
    </table>

    <!-- {% for obj in object_list %}
        <p>{{obj.name}}</p>
    {% endfor %} -->
{% endblock container %}